.play-list-body {
    padding: 1rem 2rem;
}

.play-list-table-header {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    margin: 0;
    padding: 0;
    font-size: 90%;
    letter-spacing: 1px;
    border-bottom: solid 1px var(--color-2);
    padding-bottom: .5rem;
}

.play-list-table-header li {
    text-transform: uppercase;
    color: var(--color-4);
    opacity: .7;
}

.play-list-rows {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    margin: 0;
    padding: 1rem 0 0 0;
}

.play-list-rows .track-name-opacity {
    opacity: .7;
    font-weight: 300;
}

.cover-section {
    display: flex;
    padding: 0;
}

.cover-section .cover-track {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.cover-section .cover-info {
    padding: 0 1rem;
}

.cover-section .cover-info .name-track-details {
    font-size: 80%;
    opacity: .7;
}

/* Media Queries para Tablets */
@media (max-width: 1024px) {
    .play-list-body {
        padding: 1rem;
    }

    .play-list-table-header, .play-list-rows {
        grid-template-columns: 3fr 2fr 1fr;
        font-size: 85%;
    }

    .cover-section .cover-track {
        width: 35px;
        height: 35px;
    }

    .cover-section .cover-info {
        padding: 0 0.5rem;
    }
}

/* Media Queries para Móviles */
@media (max-width: 768px) {
    .play-list-body {
        padding: 0.5rem;
    }

    .play-list-table-header {
        display: none; /* Oculta el encabezado de la tabla en móviles */
    }

    .play-list-rows {
        grid-template-columns: 2fr 1fr;
        padding: 0.5rem 0;
    }

    .play-list-rows .track-name-opacity {
        font-size: 90%;
    }

    .cover-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .cover-section .cover-track {
        width: 50px;
        height: 50px;
    }

    .cover-section .cover-info {
        padding: 0.5rem 0;
    }

    .cover-section .cover-info .name-track-details {
        font-size: 100%;
    }
}
