body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 30%, rgba(255, 200, 200, 0.9) 70%);
}

.login-auth-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: var(--color-3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-auth-page .login-auth-wrapper {
    width: 30%;
    padding: 2rem;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.5), 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco */
    border: 2px solid rgba(255, 255, 255, 0.7); /* Borde brillante */
    transition: all 0.3s ease-in-out;
}

.login-auth-page .separator {
    width: 100%;
    margin: 2rem 0;
    border-bottom: solid 1px var(--color-2);
    opacity: 0.3;
}

.login-auth-page .login-auth-form {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.login-auth-page .login-auth-form .form-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login-auth-page .login-auth-form .form-group input {
    border: solid 2px #e7e7e7;
    border-radius: 20px; /* Bordes redondeados */
    height: 40px;
    padding: 0.5rem 1rem; /* Espaciado interno */
    font-size: 100%;
    transition: border-color 0.3s, box-shadow 0.3s; /* Transición suave */
}

.login-auth-page .login-auth-form .form-group input:focus {
    border-color: var(--color-1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.login-auth-page .login-auth-form label {
    padding-bottom: .5rem;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}

.login-auth-page .login-auth-form .form-steps {
    padding: .5rem 0;
}

.login-auth-page .login-auth-form .form-steps .link {
    color: var(--color-2);
    font-size: 85%;
    font-weight: 500;
    text-decoration: underline;
    transition: color 0.3s;
}

.login-auth-page .login-auth-form .form-steps .link:hover {
    color: var(--color-1);
}

.login-auth-page .login-auth-form .form-action .login {
    color: var(--color-4);
    margin: 1rem 0;
    background-color: var(--color-1);
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-auth-page .login-auth-form .form-action .login:hover {
    background-color: #32CD32;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

input.ng-invalid.ng-touched {
    border: solid 2px red !important;
}

/* Media queries para dispositivos más pequeños */
@media (max-width: 1024px) {
    .login-auth-page .login-auth-wrapper {
        width: 50%; /* Ajustar para pantallas medianas como tabletas */
    }
}

@media (max-width: 768px) {
    .login-auth-page .login-auth-wrapper {
        width: 70%; /* Ajustar para pantallas de tabletas pequeñas */
    }

    .login-auth-page .login-auth-form .form-group input {
        font-size: 90%; /* Reducir el tamaño del texto */
    }

    .login-auth-page .login-auth-form .form-action .login {
        padding: 8px 12px; /* Ajustar el padding del botón */
    }
}

@media (max-width: 480px) {
    .login-auth-page .login-auth-wrapper {
        width: 90%; /* Ajustar para pantallas móviles */
        padding: 1.5rem;
    }

    .login-auth-page .login-auth-form .form-group input {
        height: 35px; /* Reducir la altura de los campos de input */
        font-size: 85%;
    }

    .login-auth-page .login-auth-form label {
        font-size: 90%; /* Ajustar el tamaño de las etiquetas */
    }

    .login-auth-page .login-auth-form .form-action .login {
        font-size: 90%; /* Ajustar el tamaño del texto del botón */
        padding: 8px 10px; /* Reducir el padding del botón */
    }
}
